<h1 align="center">NoSQL-with-MongoDB</h1>

# Learning Agenda of Notebook:
- Introduction to MongoDB and NoSQL databases
- Difference between SQL and No-SQL
- Setting up MongoDB and Python
- Common MongoDB Operators
- CRUD Operations
- Data Modeling
- Indexing and Performance Optimization
- Advanced Querying
- Aggregation Framework
- Working with GridFS
- MongoDB and Cloud Services
- Error handling and Debugging
- Understanding MongoDB Architecture
- MongoDB Atlas and Cloud Integration
- MongoDB and data visualization
- MongoDB and scalability
- MongoDB and backup and recovery

# Introduction to MongoDB and NoSQL databases


## NoSQL Databases

- **NoSQL databases** (Not Only SQL) are a type of database that differ from traditional relational databases in the way they store and manage data. Unlike relational databases, which use tables and structured query language (SQL) to store and retrieve data, NoSQL databases use a variety of data models, such as document-oriented, key-value, graph, and column-family, to store and retrieve data.

- Here are some **examples** of NoSQL databases:

    - **Document-oriented databases:** MongoDB is an example of a document-oriented database. In this type of database, data is stored in the form of documents, which are similar to JSON objects. Each document can have different fields and structures, making it easy to store complex, unstructured data.

    - **Key-value databases:** Redis is an example of a key-value database. In this type of database, data is stored as key-value pairs, where the key is a unique identifier and the value is the data being stored. Key-value databases are designed to be fast and scalable and are often used for caching and session management.

    - **Graph databases:** Neo4j is an example of a graph database. In this type of database, data is stored in the form of nodes and relationships, making it well-suited for storing data with complex relationships, such as social networks or recommendation systems.

    - **Column-family databases:** Apache Cassandra is an example of a column-family database. In this type of database, data is stored in columns rather than rows, making it well-suited for large-scale, distributed systems.


> **Note:** NoSQL databases are often preferred over relational databases for certain use cases, such as when dealing with large amounts of unstructured data, when scalability is a concern, or when the data has complex relationships that are difficult to model in a traditional relational database.


<img src="images/NoSQLDatabases.jpg" align="center" height=400px width=400px>


## What is MongoDB?

<img src="images/intro_mongodb.jpeg" align="center" height=400px width=400px>

- **MongoDB** is a `document-oriented NoSQL database` that is designed to be scalable and flexible. Unlike traditional relational databases, which store data in tables and use structured query language (SQL) to retrieve data, MongoDB stores data in documents, which are similar to JSON objects.

- Here are some **examples** to illustrate how MongoDB works:

    - **Storing data in documents:** In MongoDB, data is stored in documents, which are similar to JSON objects. For example, consider a database of books. Each book can be stored as a document with fields for the title, author, ISBN, and so on.
    
    - **Collections:** Documents are stored in collections, which are similar to tables in relational databases. For example, the books database might have a collection named "books" that contains all the books in the database.

    - **Querying data:** MongoDB provides a rich query language that allows you to retrieve data based on various criteria. For example, you can retrieve all books written by F. Scott Fitzgerald by using the following query.

```
{
    "_id": ObjectId("5f22b3e3e3f0b375bc0edc71"),
    "title": "The Great Gatsby",
    "author": "F. Scott Fitzgerald",
    "ISBN": "9780743273565"
}

```

# Difference between SQL and No-SQL


SQL and NoSQL are two different types of database management systems, each with its own strengths and weaknesses. Here are some of the key differences between the two:

- **Data model:** SQL databases use a tabular data model, where data is stored in tables with fixed schemas, and each table has a unique primary key. NoSQL databases, on the other hand, use a variety of data models, including document, key-value, graph, and column-family models.

- **Scaling:** SQL databases are vertically scalable, which means that to handle more traffic, you need to upgrade your hardware to a more powerful server. NoSQL databases are horizontally scalable, which means that to handle more traffic, you can add more servers to the database cluster.

- **ACID compliance:** SQL databases are typically ACID compliant, which means that they ensure data consistency, isolation, and durability. NoSQL databases, on the other hand, often sacrifice ACID compliance for performance and scalability.

- **Query language:** SQL databases use the Structured Query Language (SQL) for querying data, which is a powerful and widely-used language. NoSQL databases use a variety of query languages, including MongoDB's query language, Cassandra Query Language (CQL), and Amazon DynamoDB's API.

- **Use cases:** SQL databases are typically used for applications that require complex queries and transactions, such as banking, finance, and e-commerce. NoSQL databases are often used for applications that require high scalability and performance, such as real-time analytics, IoT, and social media.

<img src="images/sqlvsnosql.jpeg" height=400px width=400px>

# Setting up MongoDB and Python

<img src="images/mongodbvspython.png" align="center" height=400px width=400px>



To set up MongoDB and Python, you need to follow these steps:

- **Install MongoDB:** You can download MongoDB from the official [website](https://www.mongodb.com/try/download/community) and install it on your system.

<br/>

- **Install MongoDB:** MongoDB Compass is a graphical user interface (GUI) tool for MongoDB that allows users to explore and interact with their data in a visual way. To install MongoDB Compass, go to the official MongoDB website at [website](https://www.mongodb.com/try/download/compass) and click the `Download Compass` button.
<br/>

- **Install PyMongo**: PyMongo is the Python driver for MongoDB. You can install it using pip: `pip3 install pymongo` , this command is for linux OS.
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>


- **Start and Enable the MongoDB service**: 
By default, the MongoDB service is disabled upon installation. You can verify this by running the command:

<p style="color:green; text-align:center"> <b> sudo systemctl status mongod </b></p>


<img src="images/s1_1.png" height=500px width=500px>
<br/>

To start the MongoDB service execute the command:
<p style="color:green; text-align:center"> <b> sudo systemctl start mongod </b></p>


Once again, confirm if the service is running:
<p style="color:green; text-align:center"> <b>sudo systemctl status mongod </b></p>



<img src="images/s2_2.png" height=500px width=500px>
<br/>


<br/>
<br/>
<br/>
<br/>


- **Connect to MongoDB:** To connect to MongoDB from Python, you need to create a `MongoClient object`. You can connect to a local MongoDB instance like this:

<img src="images/s3_3.png" height=500px width=500px align="center">
<br/>

<img src="images/s4_4.png" height=500px width=500px align="center">
<br/>





<p style="color:green; text-align:center"> <b>from pymongo import MongoClient</b></p>
<br />
<p style="color:green; text-align:center"> <b>client = MongoClient("mongodb://localhost:27017/")</b></p>
<br />



>**Note:** The **MongoClient object** in PyMongo is used to establish a connection to a MongoDB database. It represents a client-side connection to a MongoDB database and provides a way to interact with the database. With a MongoClient object, you can create and manipulate databases, collections, and documents. In this example, the MongoClient object is connecting to a MongoDB instance running on the same machine as the Python code (localhost) and using the default MongoDB port (27017). Once you have a MongoClient object, you can use it to access and manipulate the databases, collections, and documents in the MongoDB instance.

- **Work with databases and collections:** Once you have connected to MongoDB, you can work with databases and collections. To create a database, you can use the `client.db_name` syntax, where `db_name` is the name of the database. To create a collection, you can use the `db.collection_name` syntax, where `collection_name` is the name of the collection. For example, to create a database named `booksdb` and a collection named `books`, you can do the following: 


```

db = client.booksdb
books = db.books

```

- **Insert data into the collection:** To insert data into the collection, you can use the `insert_one` or `insert_many` method. For example, to insert a single book into the collection, you can do the following:

```
book = {"title": "Taxonomy of IDS", "author": "Arif Butt"}
books.insert_one(book)

```

This will insert the book document into the "books" collection in the "booksdb" database.

### Before Creating new Database 

<img src="images/s5.png" height=700px width=700px>

### Demo

In [3]:
from pymongo import MongoClient
client = MongoClient("mongodb://localhost:27017/")

In [7]:
# get list of all current databases
client.list_database_names()

['admin', 'config', 'local', 'test_database']

In [8]:
# create a new database
db = client.booksdb

In [9]:
# create a collection into `booksdb` database
books = db.books

In [11]:
# insert record into new created collection
book = {"title": "Taxonomy of IDS", "author": "Arif Butt"}
books.insert_one(book)

In [16]:
# fetch result
books.find_one()

{'_id': ObjectId('63fb9fecc766296b075ab4f3'),
 'title': 'Taxonomy of IDS',
 'author': 'Arif Butt'}

### After Creating new Database
<img src="images/s6.png" height=600px width=600px>
<img src="images/s7.png" height=600px width=600px>

> **Note:** `_id`s have to be unique in a collection. You can quickly verify this by inserting two documents with the same `_id` in two different collections.

In [13]:
# after creating new database get list of all the databases
client.list_database_names()

['admin', 'booksdb', 'config', 'local', 'test_database']

### Check Your Concept:
- Create a new database and `drop` it from `MongoDB` local host.
- Create a collection in a database and `drop` it from the database.

# Common MongoDB Operators

**MongoDB offers different types of operators that can be used to interact with the database. Operators are special symbols or keywords that inform a compiler or an interpreter to carry out mathematical or logical operations.**

The query operators enhance the functionality of MongoDB by allowing developers to create complex queries to interact with data sets that match their applications.

MongoDB offers the following query operator types:

- Comparison
- Logical
- Element
- Evaluation
- Array
- Bitwise

## Comparison Operators
MongoDB comparison operators can be used to compare values in a document. The following table contains the common comparison operators.

<img src="images/s9.png" height=500px width=500px>

## Logical Operators

MongoDB logical operators can be used to filter data based on given conditions. These operators provide a way to combine multiple conditions. Each operator equates the given condition to a true or false value.

<img src="images/s10.png" height=500px width=500px>

## CRUD Operations 
<img src="images/crud.png" align="center" height=400px width=400px>

- **CRUD** stands for `Create`, `Read`, `Update`, and `Delete` and are the basic operations that you perform on data in a database.

Here's a brief overview of the CRUD operations in MongoDB using Python's PyMongo library:


### Create (Insert) 
**To insert a document (record) into a collection `(table)`, you use the `insert_one()` or `insert_many()` method on the collection object. For example:**

In [18]:
from pymongo import MongoClient

client = MongoClient("mongodb://localhost:27017/")

# create a new database
db = client["test_database"]

# create a new collection
collection = db["test_collection"]

# Insert a single document
collection.insert_one({"name": "Ehtisham", "age": 22})

In [19]:
# Insert multiple documents
docs = [{"name": "Ali", "age": 20}, {"name": "Ayesha", "age": 17}]
collection.insert_many(docs)

<img src="images/s8.png" height=800px width=800px>

### Read (Find)

**To query for documents in a collection, you use the `find()` method on the collection object. For example:**

In [21]:
# Find all documents
docs = collection.find()
for doc in docs:
    print(doc)

{'_id': ObjectId('63fba517c766296b075ab4f5'), 'name': 'Ehtisham', 'age': 22}
{'_id': ObjectId('63fba52ac766296b075ab4f6'), 'name': 'Ali', 'age': 20}
{'_id': ObjectId('63fba52ac766296b075ab4f7'), 'name': 'Ayesha', 'age': 17}

In [24]:
# Find documents that match a certain condition
# display all the documents which have age greater than 20
# gt is operator which stands for greater than
docs = collection.find({"age": {"$gt": 20}})
for doc in docs:
    print(doc)

{'_id': ObjectId('63fba517c766296b075ab4f5'), 'name': 'Ehtisham', 'age': 22}

### Update 

**To update a document in a collection, you use the `update_one()` or `update_many()` method on the collection object. For example:**

In [26]:
# Update a single document
collection.update_one({"name": "Ehtisham"}, {"$set": {"age": 21}})

In [29]:
# after updating record, verify your record
docs = collection.find()
for doc in docs:
    print(doc)

{'_id': ObjectId('63fba517c766296b075ab4f5'), 'name': 'Ehtisham', 'age': 21}
{'_id': ObjectId('63fba52ac766296b075ab4f6'), 'name': 'Ali', 'age': 20}
{'_id': ObjectId('63fba52ac766296b075ab4f7'), 'name': 'Ayesha', 'age': 17}

In [30]:
# Update multiple documents
# The $inc operator is used to increment the value of a field by a specified amount.
# Increment by 1 in age in all the documents, where age is less than 20
collection.update_many({"age": {"$lt": 20}}, {"$inc": {"age": 1}})

In [31]:
# after updating record, verify your record
docs = collection.find()
for doc in docs:
    print(doc)

{'_id': ObjectId('63fba517c766296b075ab4f5'), 'name': 'Ehtisham', 'age': 21}
{'_id': ObjectId('63fba52ac766296b075ab4f6'), 'name': 'Ali', 'age': 20}
{'_id': ObjectId('63fba52ac766296b075ab4f7'), 'name': 'Ayesha', 'age': 18}

### Delete 

**To delete a document from a collection, you use the `delete_one()` or `delete_many()` method on the collection object. For example:**

In [32]:
# Delete a single document
# Delete a document where name is Ehtisham
collection.delete_one({"name": "Ehtisham"})

In [33]:
# after updating record, verify your record
docs = collection.find()
for doc in docs:
    print(doc)

{'_id': ObjectId('63fba52ac766296b075ab4f6'), 'name': 'Ali', 'age': 20}
{'_id': ObjectId('63fba52ac766296b075ab4f7'), 'name': 'Ayesha', 'age': 18}

In [34]:
# Delete multiple documents
# Delete all the documents which contain age less than 20
collection.delete_many({"age": {"$lt": 20}})

In [35]:
# after updating record, verify your record
docs = collection.find()
for doc in docs:
    print(doc)

{'_id': ObjectId('63fba52ac766296b075ab4f6'), 'name': 'Ali', 'age': 20}

<img src="images/s11.png">

## Data Modeling

<img src="images/data_model.jpg" align="right" height=500px width=500px>

- **Data modeling** in MongoDB is the process of designing and organizing data in a way that is optimized for the MongoDB document-oriented data model. It involves creating a schema that defines the structure, relationships, and constraints of the data, and using that schema to create collections and documents. The goal of data modeling in MongoDB is to ensure that the data is stored in a way that is efficient, flexible, and consistent with the requirements of the application.

- **Data modeling** in MongoDB is different from data modeling in relational databases because MongoDB is a document-oriented database and it stores data in BSON format (binary JSON) in the form of documents, and collections rather than tables.

- MongoDB also provides a more flexible data model, which allows for more dynamic and unstructured data, and it also support horizontal scaling, which allows for better performance and scalability.


#### Another Definition

- **Data modeling** in MongoDB refers to the process of defining the structure of your data, including the relationships between different collections, documents, and fields. This structure is important for ensuring that your data is stored and retrieved efficiently, and for making it easy to access and manipulate the data in your applications.



### Example

Here's a simple example to give you an idea of how data modeling works in MongoDB:

**Let's say you have a collection of blog posts, and each post has an author, a title, a body, and a list of comments. To model this data in MongoDB, you might define two collections: one for posts and one for comments.**

Here's what the posts collection might look like:

In [ ]:
{
    "_id": ObjectId("5f3ab0fa7ef2d01234567890"),
    "author": "Ehtisham",
    "title": "My first post",
    "body": "I love my country.",
    "comments": [
        ObjectId("5f3ab0fa7ef2d01234567891"),
        ObjectId("5f3ab0fa7ef2d01234567892"),
        ...
    ]
}

And here's what the **comments** collection might look like:

In [ ]:
{
    "_id": ObjectId("5f3ab0fa7ef2d01234567891"),
    "post_id": ObjectId("5f3ab0fa7ef2d01234567890"),
    "author": "Ehtisham",
    "text": "This is a great post!"
}

- In this example, each post document has an `_id` field that is unique to that document and serves as `its primary key`. The comments field is an array of references to comment documents, which are stored in the separate comments collection. The comments collection also has a `post_id` field, which links each comment to the post it belongs to.

- This is just one simple example of data modeling in MongoDB. In a real-world application, your data structures may be much more complex, with multiple levels of nested documents, arrays, and references to other collections. 

> **Note:** The key is to think carefully about the structure of your data and to define the relationships between collections, documents, and fields in a way that makes sense for your specific use case.

## Indexing and Performance Optimization
<img src="images/indexing.png" height=500px width=500px>

**Indexing** is a crucial aspect of performance optimization in MongoDB. It allows the database to quickly find the relevant documents based on the specified criteria, improving query performance. Some of the key points about indexing in MongoDB are:

- Indexing in MongoDB is done at the field level.

- MongoDB supports multiple types of indexes, including single-field, compound, geospatial, text, and hashed indexes.
- By default, MongoDB creates a unique index on the `_id` field.

- To create an index, you can use the `createIndex()` method in the MongoDB shell or via the MongoDB driver in your programming language.

- When you run a query, MongoDB uses the most appropriate index to match the query conditions. You can use the `explain()` method to see which index MongoDB has selected.

- Indexes can improve query performance, but they also have some overhead in terms of disk space and write operations. Therefore, it's important to choose your indexes carefully.

- To optimize performance, you can use indexing techniques such as compound indexes, partial indexes, and multikey indexes.


> **Note:** Indexing is an important aspect of performance optimization in MongoDB. It enables the database to efficiently find the relevant data and improve query performance. Careful consideration of which indexes to create and how to use them can significantly improve the performance of your MongoDB-based applications

### Implementation of Indexing and Performance Optimization 

- Identify the queries that are slow and causing performance issues.

- Use the **explain()** method to analyze the query execution plan and identify any performance issues. For example, if a query is doing a full collection scan, it may be a sign that an index is needed.

- Create indexes on the fields that are frequently used in queries using the **create_index()** method in PyMongo. For example, if you have a collection of user data and frequently query based on the user's name and age, you could create indexes on those fields like this:

<br />
<p style="color:green; text-align:center"> <b>db.users.create_index([('name', pymongo.ASCENDING), ('age', pymongo.ASCENDING)])</b></p>
<br />

This creates a compound index on the `name` and `age` fields in ascending order.

- Monitor the performance of your queries using the MongoDB Profiler or other monitoring tools to see if the indexes are improving query performance.

- If you are still experiencing performance issues, consider using sharding(we will discuss sharding later) to distribute the data across multiple MongoDB instances. Sharding can improve query performance by allowing for parallel query execution across multiple shards.

- Continuously monitor and optimize your indexes and queries to ensure that your MongoDB database continues to perform well over time.

### Demo

In [38]:
# Step1: Connect to the Mongodb database using PyMongo
from pymongo import MongoClient

# establish a connection to the database
client = MongoClient('localhost', 27017)

db = client['mydatabase']

In [39]:
# Step2: Create a collection and insert data

# create a collection
collection = db['mycollection']

# insert some sample data
collection.insert_many([
    {"name": "Ehtisham", "age": 22, "city": "Lahore"},
    {"name": "Ali", "age": 20, "city": "Okara"},
    {"name": "Ayesha", "age": 17, "city": "Okara"},
    {"name": "Dua", "age": 6, "city": "Sahiwal"},
    {"name": "Adeen", "age": 3, "city": "Lahore"}
])

In [41]:
# Step3: Create index on the `name` field for faster querying

collection.create_index([('name',1)])

'name_1'

In [43]:
# Step4: query the collection with the 'find' method and the 'explain' option
query = {"name": "Ehtisham"}
result = collection.find(query).explain()

# print the execution plan
result

{'queryPlanner': {'plannerVersion': 1,
  'namespace': 'mydatabase.mycollection',
  'indexFilterSet': False,
  'parsedQuery': {'name': {'$eq': 'Ehtisham'}},
  'winningPlan': {'stage': 'FETCH',
   'inputStage': {'stage': 'IXSCAN',
    'keyPattern': {'name': 1},
    'indexName': 'name_1',
    'isMultiKey': False,
    'multiKeyPaths': {'name': []},
    'isUnique': False,
    'isSparse': False,
    'isPartial': False,
    'indexVersion': 2,
    'direction': 'forward',
    'indexBounds': {'name': ['["Ehtisham", "Ehtisham"]']}}},
  'rejectedPlans': []},
 'executionStats': {'executionSuccess': True,
  'nReturned': 1,
  'executionTimeMillis': 0,
  'totalKeysExamined': 1,
  'totalDocsExamined': 1,
  'executionStages': {'stage': 'FETCH',
   'nReturned': 1,
   'executionTimeMillisEstimate': 0,
   'works': 2,
   'advanced': 1,
   'needTime': 0,
   'needYield': 0,
   'saveState': 0,
   'restoreState': 0,
   'isEOF': 1,
   'docsExamined': 1,
   'alreadyHasObj': 0,
   'inputStage': {'stage': 'IXSCAN',
    'nReturned': 1,
    'executionTimeMillisEstimate': 0,
    'works': 2,
    'advanced': 1,
    'needTime': 0,
    'needYield': 0,
    'saveState': 0,
    'restoreState': 0,
    'isEOF': 1,
    'keyPattern': {'name': 1},
    'indexName': 'name_1',
    'isMultiKey': False,
    'multiKeyPaths': {'name': []},
    'isUnique': False,
    'isSparse': False,
    'isPartial': False,
    'indexVersion': 2,
    'direction': 'forward',
    'indexBounds': {'name': ['["Ehtisham", "Ehtisham"]']},
    'keysExamined': 1,
    'seeks': 1,
    'dupsTested': 0,
    'dupsDropped': 0}},
  'allPlansExecution': []},
 'serverInfo': {'host': 'dell-Inspiron-15-5510',
  'port': 27017,
  'version': '4.4.18',
  'gitVersion': '8ed32b5c2c68ebe7f8ae2ebe8d23f36037a17dea'},
 'ok': 1.0}

Note that the `winningPlan` section indicates the use of the `name_1` index.

In [45]:
# Step5: Use the `explain` option to compare the performance of the query with and without the index

In [48]:
# query the collection without the index and print the execution time
result = collection.find({"age": {"$gt": 35}}).explain()
print(result["executionStats"]["executionTimeMillis"])

0

In [49]:
# create an index on the 'age' field
collection.create_index([("age", 1)])

# query the collection with the index and print the execution time
result = collection.find({"age": {"$gt": 35}}).explain()
print(result["executionStats"]["executionTimeMillis"])

0

> **Note:** By comparing the two execution times, we can see the improvement in performance achieved by using the index.

## Understanding of MongoDB architecture

<img src="images/MongoDB-Architecture.png" height=500px width=500px>

MongoDB architecture refers to the components and design of a MongoDB database system. It includes the following key components:

- **MongoDB Server:** This is the main component of MongoDB architecture, responsible for handling client requests, managing data storage, and executing queries.

- **Replication:** Replication is a key aspect of MongoDB architecture, providing high availability and data durability. MongoDB uses a replication mechanism known as replica sets, where data is replicated across multiple servers for redundancy.

- **Sharding:** Sharding is the process of dividing data across multiple servers to distribute load and improve performance. MongoDB uses a sharding mechanism known as sharded clusters, where data is divided into smaller chunks called shards and distributed across multiple servers.

- **Database:** A MongoDB database is a collection of related data stored together in a single unit. Databases are made up of collections, which are equivalent to tables in a relational database.

- **Collection:** A collection is a group of related documents stored together in a single unit. Documents in a collection are equivalent to rows in a table in a relational database.

- **Document:** A document is a single unit of data stored in a collection. It is a JSON-like structure, containing one or more key-value pairs.



> **Note:** Understanding MongoDB architecture is important for ensuring that your database is designed and optimized for your specific use case. It helps you make informed decisions about things like data modeling, replication, and sharding, and ensures that your database is scalable, reliable, and efficient.

+------------+     +------------+     +------------+
| Config     |     | Config     |     | Config     |
| Server 1   |     | Server 2   |     | Server 3   |
+------------+     +------------+     +------------+
         |                 |                 |
         +-----------------+-----------------+
                             |
                      +--------------+
                      | Mongos Router |
                      +--------------+
                             |
                 +---------------+---------------+
                 |               |               |
          +---------+     +---------+     +---------+
          | Shard 1 |     | Shard 2 |     | Shard 3 |
          +---------+     +---------+     +---------+

To connect to a MongoDB cluster using the PyMongo library in Python, you need to specify the connection details of each node in the cluster, as well as the name of the database and collection that you want to access. Here is an example code snippet:

In [ ]:
from pymongo import MongoClient

# Define the connection details for each node in the cluster
config_servers = [
    'config-server-1.example.com:27019',
    'config-server-2.example.com:27019',
    'config-server-3.example.com:27019'
]

shards = [
    'shard-1.example.com:27017',
    'shard-2.example.com:27017',
    'shard-3.example.com:27017'
]

# Define the name of the database and collection to access
db_name = 'mydatabase'
collection_name = 'mycollection'

# Create a connection to the cluster using the MongoClient class
client = MongoClient(
    f'mongodb://{",".join(config_servers)}/?replicaSet=myreplica'
)

# Specify the database and collection to access
db = client[db_name]
collection = db[collection_name]

# Perform CRUD operations on the collection

# Advanced Querying in moongodb

<img src="images/pipeline.png" height=400px width=400px>

**Advanced querying in MongoDB involves using more complex query operations and aggregation pipelines to retrieve and analyze data in the database.**

Here is an example of how to perform advanced querying in MongoDB using the MongoDB shell:

Assume we have a collection of customer orders in our MongoDB database named `orders`. Each document in the collection represents a customer order and has the following fields: orderId, customerId, orderDate, orderItems, and totalAmount.

To retrieve all orders placed by a specific customer, we can use the following query:

In [ ]:
db.orders.find( { customerId: "12345" } )

To retrieve all orders placed between two specific dates, we can use the following query:

In [ ]:
db.orders.find( { orderDate: { $gte: ISODate("2022-01-01"), $lte: ISODate("2022-01-31") } } )

To retrieve the total number of orders placed by each customer, we can use the following aggregation pipeline:

In [ ]:
db.orders.aggregate( [
   { $group: { _id: "$customerId", totalOrders: { $sum: 1 } } }
] )

This pipeline groups the orders by customer ID, and then uses the $sum operator to count the number of orders for each customer.

To retrieve the total amount of orders placed by each customer, we can use the following aggregation pipeline:

In [ ]:
db.orders.aggregate( [
   { $group: { _id: "$customerId", totalAmount: { $sum: "$totalAmount" } } }
] )

This pipeline groups the orders by customer ID, and then uses the $sum operator to calculate the total amount of orders for each customer.

In addition to these basic examples, MongoDB provides a wide range of query operators and aggregation stages that can be used to perform more complex queries and data analysis. It's important to carefully analyze your data and query requirements to select the most appropriate operations and pipelines to achieve the desired results.

# Aggregation Framework

<img src="images/aggregation.png" height=400px width=400px>

The Aggregation Framework is a powerful feature in MongoDB that allows for complex data analysis by combining and processing data in multiple stages. Aggregation pipelines consist of a sequence of stages, each with its own set of operators that transform documents as they pass through the pipeline. It collects values from various documents and groups them together and then performs different types of operations on that grouped data like sum, average, minimum, maximum, etc to return a computed result. It is similar to the **aggregate function of SQL**.

# Working with GridFS in mongodb

<img src="images/gridfs.png" height=400px width=400px >

**GridFS** is a specification used by MongoDB to store and retrieve large files such as images, audio, and video. It stores files in chunks of 255 KB and is optimized for handling files larger than 16 MB.


To work with `GridFS` in Python using PyMongo, you can use the `gridfs` module. Here's an example of how to upload a file to GridFS:

In [53]:
import pymongo
from gridfs import GridFS

# connect to MongoDB server
client = pymongo.MongoClient("mongodb://localhost:27017/")

# select a database and GridFS collection
db = client["gridfs"]
fs = GridFS(db, collection="myfiles")

# open the file to be uploaded
with open("ranking.csv", "rb") as file:
    # upload the file to GridFS
    file_id = fs.put(file, filename="ranking.csv")
    
print(f"File uploaded with ID: {file_id}")

File uploaded with ID: 63fc4184c766296b075ab500

<img src="images/s12.png">

We then open the file to be uploaded and use the put method to store the file in GridFS. The **put** method returns the ID of the newly uploaded file.

To retrieve a file from GridFS, you can use the **get** method and pass in the ID of the file. Here's an example:

In [55]:
# retrieve a file from GridFS
retrieved_file = fs.get(file_id)

# print the contents of the file
print(retrieved_file.read())

b'Rank,institution,location code,location,SCORE,ar rank,er score,fsr score,fsr rank,cpf score,cpf rank,ifr score,ifr rank,isr score,isr rank,irn score,irn rank,ger score,ger rank,score scaled\n1,Massachusetts Institute of Technology (MIT) ,US,United States,100,5,100,100,14,100,5,100.0,54,90,109,96.1,58,100,3,100\n2,University of Cambridge,UK,United Kingdom,100,2,100,100,11,92,55,100.0,60,96,70,99.5,6,100,9,98\n3,Stanford University,US,United States,100,4,100,100,6,99,9,99.0,74,60,235,96.3,55,100,2,98\n4,University of Oxford,UK,United Kingdom,100,3,100,100,8,90,64,98.0,101,98,54,99.9,3,100,7,98\n5,Harvard University,US,United States,100,1,100,99,35,100,2,76.0,228,66,212,100.0,1,100,1,97\n6,California Institute of Technology (Caltech),US,United States,96,28,87,100,3,100,4,99.0,75,85,134,73.0,425,98,24,97\n7,Imperial College London,UK,United Kingdom,98,24,99,99,34,86,84,100.0,55,100,13,98.1,20,88,76,97\n8,UCL,UK,United Kingdom,99,14,98,97,51,77,119,99.0,87,100,14,100.0,2,90,71,95\n9,ETH Zurich - Swiss Federal Institute of Technology,CH,Switzerland,98,18,91,74,164,99,18,100.0,24,98,59,96.2,56,91,64,93\n10,University of Chicago,US,United States,99,16,92,92,71,86,79,81.0,214,76,176,89.6,170,98,30,93\n11,National University of Singapore (NUS),SG,Singapore,99,13,94,79,136,91,58,100.0,33,73,187,89.9,165,99,16,92\n12,Peking University,CN,China (Mainland),99,15,96,87,98,96,34,57.0,323,36,376,77.5,354,91,59,91\n13,University of Pennsylvania,US,United States,96,29,92,99,23,70,142,96.0,128,66,215,93.3,104,100,5,90\n14,Tsinghua University,CN,China (Mainland),98,17,97,92,72,98,24,16.0,601+,25,462,75.5,381,87,80,90\n15,The University of Edinburgh,UK,United Kingdom,98,26,97,81,129,70,149,98.0,98,99,38,98.7,15,54,219,89\n16,EPFL,CH,Switzerland,83,59,71,91,82,99,15,100.0,17,100,11,87.3,207,28,451,89\n17,Princeton University,US,United States,99,10,98,72,172,100,3,26.0,515,62,226,78.5,340,100,8,89\n18,Yale University,US,United States,99,9,100,100,2,51,249,89.0,179,77,165,92.0,123,100,4,89\n19,"Nanyang Technological University, Singapore (NTU)",SG,Singapore,90,42,76,83,120,94,49,100.0,30,74,186,89.6,169,84,86,88\n20,Cornell University,US,United States,98,23,91,62,245,99,17,63.0,290,55,256,90.0,161,99,19,87\n21,The University of Hong Kong,HK,Hong Kong SAR,97,27,62,84,113,72,131,100.0,27,98,50,81.1,303,99,23,87\n22,Columbia University,US,United States,99,11,98,100,12,47,282,47.0,369,94,85,98.9,14,99,11,86\n23,The University of Tokyo,JP,Japan,100,7,99,91,78,73,128,10.0,601+,27,448,89.5,174,97,33,85\n24,Johns Hopkins University,US,United States,87,49,47,100,5,87,76,63.0,294,82,145,97.7,27,95,42,85\n25,University of Michigan-Ann Arbor,US,United States,98,22,91,88,92,62,190,71.0,253,33,404,96.3,52,96,40,84\n26,Universit\xc3\xa9 PSL,FR,France,74,78,97,99,24,84,96,59.0,308,83,142,99.7,4,53,227,83\n27,"University of California, Berkeley (UCB)",US,United States,100,6,100,23,599,99,10,93.0,155,57,248,96.7,45,99,21,82\n28,The University of Manchester,UK,United Kingdom,95,33,97,63,234,59,207,93.0,152,99,41,98.9,13,66,158,82\n29,Seoul National University,KR,South Korea,98,19,97,87,100,70,147,12.0,601+,10,601+,79.3,329,97,34,82\n30,The Australian National University,AU,Australia,93,35,70,38,404,99,16,100.0,37,96,71,94.6,86,59,192,82\n31,McGill University,CA,Canada,93,36,93,68,193,59,203,87.0,188,95,77,95.2,69,90,72,81\n32,Northwestern University,US,United States,84,56,71,98,45,84,95,40.0,401,38,351,89.0,183,98,29,81\n33,The University of Melbourne,AU,Australia,98,20,94,17,601+,95,45,93.0,157,99,30,97.6,30,91,63,81\n34,Fudan University,CN,China (Mainland),83,60,93,89,88,70,146,89.0,178,38,355,70.6,457,65,164,81\n35,University of Toronto,CA,Canada,99,12,98,65,219,43,313,95.0,132,95,74,96.7,46,94,45,81\n36,Kyoto University,JP,Japan,98,21,98,94,62,54,234,14.0,601+,22,503,85.5,233,56,201,81\n37,King\'s College London,UK,United Kingdom,88,47,83,74,162,60,198,98.0,104,100,21,99.3,8,56,200,81\n38,The Chinese University of Hong Kong (CUHK),HK,Hong Kong SAR,87,51,49,60,250,92,53,100.0,58,90,108,74.9,398,79,108,80\n39,New York University (NYU),US,United States,95,32,99,98,48,28,440,31.0,463,94,87,92.0,122,99,13,80\n40,The Hong Kong University of Science and Technology,HK,Hong Kong SAR,82,64,50,62,239,98,20,100.0,20,87,121,56.2,601+,91,61,79\n41,The University of Sydney,AU,Australia,96,30,91,15,601+,92,56,99.0,84,100,12,97.3,34,90,65,79\n42,KAIST - Korea Advanced Institute of Science & Technology,KR,South Korea,88,48,85,68,192,97,27,23.0,542,12,601+,65.2,505,63,178,79\n43,Zhejiang University,CN,China (Mainland),72,82,95,78,146,88,72,99.0,88,42,325,80.8,309,42,307,79\n44,"University of California, Los Angeles (UCLA)",US,United States,100,8,99,37,410,85,87,45.0,377,27,450,96.3,53,98,31,78\n45,The University of New South Wales (UNSW Sydney),AU,Australia,89,46,91,16,601+,97,28,100.0,50,99,31,98.2,17,93,51,78\n46,Shanghai Jiao Tong University,CN,China (Mainland),82,61,90,57,269,97,31,40.0,400,38,357,73.9,412,57,194,77\n47,University of British Columbia,CA,Canada,98,25,95,56,275,42,332,89.0,180,74,181,97.9,24,75,119,77\n48,Institut Polytechnique de Paris,FR,France,45,180,99,98,41,94,49,97.0,124,98,56,94.8,78,99,12,76\n49,Technical University of Munich,DE,Germany,84,57,96,96,57,25,482,70.0,255,95,80,91.8,125,37,347,76\n50,Duke University,US,United States,86,53,79,100,10,41,345,20.0,581,55,257,95.5,63,98,27,74\n51,The University of Queensland,AU,Australia,86,52,75,20,601+,90,62,100.0,36,100,19,94.6,85,41,311,74\n52,Carnegie Mellon University,US,United States,72,83,69,58,267,100,8,38.0,414,97,66,88.7,188,85,83,74\n53,"University of California, San Diego (UCSD)",US,United States,90,45,61,55,280,77,118,54.0,333,53,267,96.9,40,21,560,74\n54,City University of Hong Kong,HK,Hong Kong SAR,57,130,29,88,93,98,25,100.0,16,100,15,55.1,601+,57,198,73\n55,Tokyo Institute of Technology (Tokyo Tech),JP,Japan,74,80,93,81,126,65,168,36.0,433,37,362,55.8,601+,33,377,72\n56,The London School of Economics and Political Science (LSE),UK,United Kingdom,69,91,98,37,408,84,93,100.0,32,100,8,67.6,487,99,10,72\n57,Monash University,AU,Australia,87,50,80,11,601+,79,113,100.0,48,100,18,95.1,75,56,202,71\n58,University of Amsterdam,NL,Netherlands,82,62,42,26,562,97,29,92.0,161,80,152,97.2,35,51,241,71\n59,Ludwig-Maximilians-Universit\xc3\xa4t M\xc3\xbcnchen,DE,Germany,92,37,75,56,278,45,296,64.0,287,38,352,94.7,84,39,333,70\n60,Sorbonne University,FR,France,90,44,41,40,387,86,86,28.0,496,54,262,99.6,5,60,187,70\n61,Delft University of Technology,NL,Netherlands,71,87,80,34,447,84,94,100.0,64,83,141,95.9,60,64,172,70\n62,University of Bristol,UK,United Kingdom,74,79,84,58,268,55,225,90.0,170,84,135,93.9,92,59,190,70\n63,Brown University,US,United States,57,128,54,80,132,89,65,82.0,210,49,294,73.6,417,99,14,69\n64,The University of Warwick,UK,United Kingdom,71,85,89,43,360,63,186,98.0,111,99,45,93.6,97,62,181,69\n65,Ruprecht-Karls-Universit\xc3\xa4t Heidelberg,DE,Germany,78,72,40,99,26,41,346,51.0,348,47,307,95.2,70,22,531,69\n66,The Hong Kong Polytechnic University,HK,Hong Kong SAR,66,99,37,78,147,68,151,100.0,46,80,153,74.2,409,49,256,69\n67,Universidad de Buenos Aires (UBA),AR,Argentina,92,39,94,76,158,1,601+,63.0,293,68,207,63.0,533,34,371,68\n68,Osaka University,JP,Japan,80,68,85,67,205,59,206,25.0,525,14,601+,75.2,385,21,567,68\n69,Universit\xc3\xa9 Paris-Saclay,FR,France,57,131,99,99,28,49,266,43.0,387,59,243,97.1,37,7,601+,68\n70,Universiti Malaya (UM),MY,Malaysia,79,70,94,67,200,39,355,43.0,388,53,272,91.8,126,41,310,67\n71,Pohang University of Science And Technology (POSTECH),KR,South Korea,47,169,69,100,15,98,26,34.0,444,2,601+,30.9,601+,54,215,67\n72,University of Texas at Austin,US,United States,93,34,85,9,601+,90,61,7.0,601+,10,601+,90.9,142,71,131,67\n73,Yonsei University,KR,South Korea,75,76,95,88,94,28,448,19.0,587,51,285,63.5,526,68,144,67\n74,Korea University,KR,South Korea,79,71,93,86,105,29,433,14.0,601+,32,406,63.1,532,71,129,66\n75,Lomonosov Moscow State University,RU,Russia,80,67,77,99,27,5,601+,19.0,589,91,103,87.5,204,91,62,66\n76,KU Leuven,BE,Belgium,83,58,53,7,601+,92,54,91.0,164,43,320,99.1,11,44,283,66\n77,National Taiwan University (NTU),TW,Taiwan,92,38,92,33,461,49,262,19.0,591,32,412,75.0,393,96,37,65\n78,University of Southampton,UK,United Kingdom,50,153,56,63,233,82,100,96.0,130,93,89,96.7,47,42,302,65\n79,Tohoku University,JP,Japan,71,86,78,98,43,34,401,14.0,601+,16,595,66.8,493,18,601+,64\n80,University of Washington,US,United States,84,55,48,10,601+,100,7,32.0,458,36,384,97.6,29,84,89,64\n81,University of Glasgow,UK,United Kingdom,75,77,75,50,311,34,394,95.0,134,98,49,94.7,81,29,430,64\n83,University of Wisconsin-Madison,US,United States,82,63,48,70,184,41,333,37.0,421,23,482,93.2,105,84,87,63\n84,University of Zurich,CH,Switzerland,58,124,39,93,68,49,268,100.0,57,55,255,93.5,98,77,114,63\n85,University of Illinois at Urbana-Champaign,US,United States,85,54,60,9,601+,88,71,20.0,578,46,309,92.2,118,70,135,63\n86,University of Leeds,UK,United Kingdom,70,88,78,41,376,47,276,86.0,195,86,129,97.8,26,42,300,62\n87,The University of Auckland,NZ,New Zealand,81,65,48,22,601+,54,235,99.0,71,92,102,87.2,208,79,110,62\n88,Georgia Institute of Technology,US,United States,67,97,77,11,601+,95,44,62.0,299,54,260,78.5,341,63,176,62\n89,KTH Royal Institute of Technology ,SE,Sweden,45,178,58,70,186,76,123,97.0,123,70,199,89.9,164,81,100,62\n90,The University of Western Australia,AU,Australia,55,137,49,21,601+,98,19,100.0,28,99,23,98.2,16,65,167,61\n91,University of Birmingham,UK,United Kingdom,66,100,74,44,349,45,295,91.0,168,87,122,95.1,73,37,344,61\n92,Durham University,UK,United Kingdom,57,125,89,31,501,65,174,97.0,122,87,123,89.1,182,43,295,60\n93,Pennsylvania State University,US,United States,76,75,69,32,473,67,162,25.0,523,31,421,96.8,44,44,282,60\n94,University of Science and Technology of China,CN,China (Mainland),51,147,12,86,103,99,12,18.0,596,5,601+,67.0,491,37,345,60\n95,Lund University,SE,Sweden,68,92,50,51,307,41,341,95.0,133,76,173,97.6,28,64,168,60\n96,The University of Sheffield,UK,United Kingdom,58,122,53,59,264,46,284,85.0,199,97,61,94.7,79,33,376,59\n97,University of St Andrews,UK,United Kingdom,46,175,67,61,249,58,209,98.0,100,99,35,83.4,265,44,292,59\n98,"Trinity College Dublin, The University of Dublin",IE,Ireland,67,95,48,25,573,60,199,99.0,73,93,92,87.3,206,97,32,59\n99,Sungkyunkwan University(SKKU),KR,South Korea,60,115,72,83,115,37,368,18.0,592,38,354,58.8,582,33,375,58\n100,Rice University,US,United States,38,218,26,69,189,86,82,90.0,174,92,100,57.2,601+,70,133,58\n101,University of Oslo,NO,Norway,54,141,14,83,117,62,187,86.0,196,27,449,97.9,25,65,163,58\n102,"University of California, Davis",US,United States,64,105,51,27,559,68,153,84.0,204,70,198,90.2,155,25,488,58\n103,"University of North Carolina, Chapel Hill",US,United States,65,102,44,80,135,46,287,27.0,507,10,601+,90.0,160,67,152,58\n105,Universidad Nacional Aut\xc3\xb3noma de M\xc3\xa9xico (UNAM),MX,Mexico,96,31,95,43,358,2,601+,9.0,601+,2,601+,91.3,136,61,184,58\n106,King Abdulaziz University (KAU),SA,Saudi Arabia,48,167,70,66,215,50,256,99.0,94,54,263,93.4,102,10,601+,57\n107,University of Helsinki,FI,Finland,65,103,44,66,212,49,261,67.0,269,5,601+,95.2,67,62,180,57\n108,Boston University,US,United States,62,110,57,40,388,61,195,33.0,449,83,144,86.9,212,80,103,57\n109,The University of Adelaide,AU,Australia,52,146,35,17,601+,94,46,99.0,76,99,28,93.1,108,40,325,57\n110,University of Alberta,CA,Canada,55,139,48,51,305,53,237,95.0,135,76,171,96.1,57,41,318,56\n111,\xc3\x89cole Normale Sup\xc3\xa9rieure de Lyon,FR,France,31,265,12,94,63,96,36,66.0,282,17,572,70.1,461,44,289,56\n112,Nagoya University,JP,Japan,59,117,54,90,84,33,403,15.0,601+,20,536,66.5,499,35,367,56\n113,Utrecht University,NL,Netherlands,65,101,26,35,443,79,112,58.0,312,23,489,94.7,83,42,305,56\n114,University of Nottingham,UK,United Kingdom,59,120,75,36,421,45,298,90.0,173,76,172,98.1,19,32,391,56\n115,Universidade de S\xc3\xa3o Paulo,BR,Brazil,91,41,69,17,601+,40,348,7.0,601+,2,601+,94.7,82,78,113,56\n116,Aalto University,FI,Finland,44,187,45,44,347,89,68,94.0,139,35,387,90.3,154,79,106,55\n117,Universit\xc3\xa9 de Montr\xc3\xa9al ,CA,Canada,57,129,47,76,157,27,455,89.0,176,53,266,86.0,224,19,601+,55\n118,Freie Universitaet Berlin,DE,Germany,80,66,44,4,601+,63,183,63.0,298,42,328,91.9,124,33,383,55\n119,Washington University in St. Louis,US,United States,40,210,15,99,22,55,221,82.0,212,55,258,84.9,243,71,132,55\n120,University of Bern,CH,Switzerland,30,283,35,64,223,98,22,100.0,41,41,329,95.3,66,18,601+,55\n121,Pontificia Universidad Cat\xc3\xb3lica de Chile (UC),CL,Chile,91,40,98,22,601+,12,601+,17.0,601+,3,601+,82.7,275,90,70,54\n122,Newcastle University,UK,United Kingdom,46,176,83,39,398,58,211,84.0,203,75,178,96.9,39,14,601+,54\n123,Universiti Putra Malaysia (UPM),MY,Malaysia,56,132,59,75,160,19,565,44.0,383,92,99,85.0,240,6,601+,54\n124,Wageningen University & Research,NL,Netherlands,42,193,17,97,52,48,275,50.0,349,76,175,96.9,43,18,601+,54\n125,Chalmers University of Technology,SE,Sweden,27,305,60,60,255,81,104,100.0,53,72,190,84.1,256,22,538,54\n126,Queen Mary University of London,UK,United Kingdom,48,163,36,42,363,62,188,99.0,81,99,40,93.7,96,13,601+,54\n127,University of Geneva,CH,Switzerland,46,174,20,44,345,74,127,100.0,39,96,68,92.8,110,45,276,54\n128,Uppsala University,SE,Sweden,63,107,27,43,357,43,314,95.0,137,74,182,97.1,36,48,263,54\n129,Purdue University,US,United States,62,109,73,11,601+,70,141,51.0,345,48,300,92.2,119,63,173,54\n130,Universiti Kebangsaan Malaysia (UKM),MY,Malaysia,57,126,62,93,70,9,601+,42.0,393,38,353,76.5,369,5,601+,54\n131,Humboldt-Universit\xc3\xa4t zu Berlin,DE,Germany,90,43,55,8,601+,29,434,58.0,314,33,397,91.4,133,26,476,54\n132,Leiden University,NL,Netherlands,68,94,23,22,601+,65,169,85.0,202,47,308,94.7,80,30,416,54\n133,Nanjing University,CN,China (Mainland),57,127,17,32,478,96,39,54.0,337,8,601+,74.9,400,29,423,53\n134,University of Southern California,US,United States,54,142,59,28,535,71,138,36.0,434,77,164,89.2,180,94,44,53\n135,Kyushu University,JP,Japan,56,133,65,84,110,26,466,15.0,601+,20,530,66.1,502,22,543,53\n136,University of Basel,CH,Switzerland,28,304,26,53,293,95,43,100.0,31,84,138,90.1,158,52,233,53\n137,University of Technology Sydney,AU,Australia,41,199,66,9,601+,90,63,94.0,142,97,63,89.5,176,39,326,53\n138,Eindhoven University of Technology,NL,Netherlands,28,296,72,50,312,78,116,100.0,45,56,251,72.3,436,45,279,52\n139,Politecnico di Milano,IT,Italy,67,96,76,5,601+,53,239,57.0,319,54,264,87.8,200,39,328,52\n140,The Ohio State University,US,United States,61,113,62,51,308,34,396,63.0,297,16,600,96.5,49,41,309,52\n141,Hokkaido University,JP,Japan,55,136,60,77,151,30,430,18.0,601+,17,574,72.8,429,16,601+,51\n142,"KIT, Karlsruhe Institute of Technology",DE,Germany,44,185,67,33,462,72,133,68.0,266,50,288,89.6,171,54,220,51\n143,Ghent University,BE,Belgium,54,144,30,83,121,26,465,72.0,250,21,520,99.1,12,24,494,51\n144,Universiti Sains Malaysia (USM),MY,Malaysia,59,118,66,65,220,13,601+,25.0,522,75,179,79.6,327,6,601+,51\n145,University of Groningen,NL,Netherlands,51,148,21,54,286,42,330,93.0,151,86,124,96.3,54,20,569,51\n146,Lancaster University,UK,United Kingdom,39,215,30,31,492,82,103,93.0,154,94,86,88.9,186,28,448,51\n147,RWTH Aachen University,DE,Germany,49,157,88,5,601+,73,129,48.0,364,81,151,84.1,255,30,405,51\n148,University of Rochester,US,United States,23,356,20,99,36,55,230,74.0,238,95,78,75.1,389,46,273,51\n149,"University of California, Santa Barbara (UCSB)",US,United States,55,135,24,10,601+,97,30,57.0,317,28,444,78.4,343,15,601+,50\n150,Al-Farabi Kazakh National University,KZ,Kazakhstan,49,159,76,98,46,1,601+,30.0,470,34,393,35.3,601+,12,601+,50\n151,University of Vienna,AT,Austria,69,89,55,24,596,14,601+,98.0,96,89,112,96.6,48,73,126,50\n152,McMaster University,CA,Canada,39,212,50,84,112,21,535,99.0,85,59,241,79.8,324,42,301,50\n153,Stockholm University,SE,Sweden,54,143,17,29,525,62,189,82.0,213,77,169,97.3,33,69,141,50\n154,University of Waterloo,CA,Canada,40,209,77,7,601+,82,101,79.0,222,82,149,83.6,263,87,78,50\n155,Emory University,US,United States,25,336,15,99,40,68,154,50.0,351,31,420,87.7,201,44,287,49\n156,Indian Institute of Science,IN,India,37,223,22,56,276,100,1,11.0,601+,1,601+,46.0,601+,14,601+,49\n157,Hanyang University,KR,South Korea,45,182,79,83,119,17,588,18.0,594,43,315,68.0,480,33,374,49\n158,Technische Universit\xc3\xa4t Berlin (TU Berlin),DE,Germany,55,140,64,48,321,23,509,46.0,376,75,180,83.2,268,31,397,49\n159,Michigan State University,US,United States,60,114,61,12,601+,58,210,62.0,303,16,584,93.2,107,53,229,48\n160,King Fahd University of Petroleum & Minerals,SA,Saudi Arabia,30,284,24,88,95,50,253,100.0,26,21,508,70.2,458,66,156,48\n162,University of York,UK,United Kingdom,43,191,36,45,343,48,270,88.0,183,82,147,88.9,187,23,511,48\n163,The University of Exeter,UK,United Kingdom,41,201,56,31,491,55,224,92.0,162,77,163,94.8,77,15,601+,48\n164,Texas A&M University,US,United States,61,112,65,5,601+,67,161,24.0,527,14,601+,91.1,140,36,356,47\n165,"University of Maryland, College Park",US,United States,51,151,35,37,418,71,140,23.0,534,14,601+,92.6,112,61,185,47\n166,Cardiff University,UK,United Kingdom,46,177,47,40,390,41,336,84.0,207,74,183,91.4,132,19,599,47\n167,Alma Mater Studiorum - University of Bologna,IT,Italy,78,73,43,3,601+,49,263,7.0,601+,10,601+,95.1,74,40,322,47\n168,Universidad de Chile,CL,Chile,80,69,92,12,601+,13,601+,9.0,601+,5,601+,77.4,355,42,304,47\n169,Eberhard Karls Universit\xc3\xa4t T\xc3\xbcbingen,DE,Germany,44,184,21,96,55,14,601+,67.0,277,26,460,96.5,50,16,601+,47\n170,Tecnol\xc3\xb3gico de Monterrey,MX,Mexico,48,164,92,72,170,2,601+,52.0,339,8,601+,65.1,508,85,82,47\n171,Sapienza University of Rome,IT,Italy,78,74,36,4,601+,50,258,3.0,601+,11,601+,98.0,23,55,209,46\n172,Indian Institute of Technology Bombay (IITB),IN,India,53,145,86,25,572,55,228,3.0,601+,1,601+,58.0,593,76,115,46\n173,Western University,CA,Canada,30,280,60,4,601+,96,32,99.0,72,57,250,86.0,225,81,101,46\n174,Ecole des Ponts ParisTech,FR,France,8,501,55,97,53,56,219,36.0,431,95,79,43.8,601+,90,68,46\n175,Indian Institute of Technology Delhi (IITD),IN,India,49,161,79,27,543,65,176,2.0,601+,1,601+,42.2,601+,84,84,46\n176,Case Western Reserve University,US,United States,18,471,20,89,90,65,172,47.0,366,64,220,72.5,433,40,319,46\n177,National Tsing Hua University,TW,Taiwan,51,149,69,34,449,47,279,17.0,601+,19,552,35.8,601+,5,601+,45\n178,Universitat Aut\xc3\xb2noma de Barcelona,ES,Spain,62,111,28,11,601+,66,164,20.0,574,20,535,94.1,91,20,590,45\n179,Technische Universit\xc3\xa4t Wien,AT,Austria,30,274,50,12,601+,86,83,79.0,221,86,127,76.7,366,29,426,45\n180,University of Bath,UK,United Kingdom,34,247,68,19,601+,59,205,97.0,120,83,143,78.2,344,41,317,45\n181,Khalifa University of Science and Technology,AE,United Arab Emirates,16,501,15,91,80,51,248,100.0,10,69,204,72.8,430,15,601+,45\n182,University College Dublin,IE,Ireland,48,165,46,22,601+,43,320,98.0,103,63,223,87.6,203,64,170,45\n183,University of Pittsburgh,US,United States,39,211,16,96,58,37,373,7.0,601+,13,601+,90.3,152,44,293,45\n184,Universitat de Barcelona,ES,Spain,71,84,28,13,601+,44,305,14.0,601+,26,458,96.9,42,53,230,45\n185,University of Gothenburg,SE,Sweden,37,228,20,66,216,34,399,86.0,192,74,185,94.9,76,48,262,45\n186,University of Minnesota Twin Cities,US,United States,60,116,28,38,403,49,269,7.0,601+,10,601+,97.6,31,54,218,45\n187,University of Wollongong,AU,Australia,29,290,34,20,601+,88,74,93.0,149,70,200,91.4,131,24,504,45\n188,University of Florida,US,United States,48,166,47,71,177,26,470,17.0,601+,11,601+,98.0,22,54,224,45\n189,Albert-Ludwigs-Universitaet Freiburg,DE,Germany,47,170,18,36,426,57,217,67.0,272,41,339,89.0,184,19,601+,45\n190,RMIT University,AU,Australia,36,234,55,6,601+,66,167,100.0,35,93,91,85.8,229,41,316,44\n191,University of Liverpool,UK,United Kingdom,42,194,34,41,377,33,406,87.0,189,88,118,98.1,21,38,335,44\n192,"The University of Newcastle, Australia (UON)",AU,Au

> **Note**: GridFS can be a useful tool when working with large files in MongoDB, but it's important to keep in mind that it may not be the best solution for all use cases. It's important to consider factors such as file size, frequency of access, and performance when deciding whether to use GridFS or a different approach.

## MongoDB Atlas and Cloud Integration:


- MongoDB Atlas is a fully managed cloud database service provided by MongoDB Inc. It allows developers to easily deploy, run and manage MongoDB databases in the cloud. MongoDB Atlas integrates with popular cloud providers such as Amazon Web Services (AWS), Microsoft Azure, and Google Cloud Platform (GCP), providing seamless deployment and scalability options.

- MongoDB offers several options to run your database in the cloud, with a range of features and benefits depending on your use case. Some of the popular cloud services offered by MongoDB include:

### MongoDB Atlas: 

A fully-managed cloud database service that offers automatic scaling, built-in security features, and backup and recovery options. You can get started with a free tier and scale up as needed.

Here's an example of how to connect to a MongoDB Atlas cluster using PyMongo:

In [ ]:
import pymongo
from pymongo import MongoClient

# Replace the following with your Atlas connection string
conn_str = "mongodb+srv://<username>:<password>@<cluster>.mongodb.net/test?retryWrites=true&w=majority"

client = MongoClient(conn_str)

# List all the databases in the cluster
print(client.list_database_names())

# Error handling and Debugging in mongodb

Error handling and debugging are important aspects of any development process, and MongoDB provides several tools to help with this process.

In MongoDB, errors can occur for various reasons, such as invalid queries, network issues, or authentication problems. The PyMongo library, which is the Python driver for MongoDB, provides several methods to catch and handle these errors. The most common way is to use try-except blocks, which allow you to catch and handle exceptions that are raised when an error occurs.

## MongoDB and data visualization:
    
**Data visualization** is the process of converting raw data into visual representations such as graphs, charts, and dashboards. MongoDB can be used in combination with various data visualization tools to create rich visual representations of data. Some popular tools include `Tableau`, `PowerBI`, and `D3.js`. This allows organizations to easily extract insights from their data and make data-driven decisions.


<p style="color:red">MongoDB provides many features for data visualization and analysis. One popular tool for data visualization with MongoDB is called MongoDB Charts, which allows you to create charts, graphs, and other visualizations based on data stored in a MongoDB database. You can use MongoDB Charts to create interactive dashboards, share data insights with others, and gain a better understanding of your data. </p>

Here is an example of using MongoDB Charts to create a bar chart based on data stored in a MongoDB database:

- First, create a MongoDB Charts account and connect it to your MongoDB database.

- Next, create a new chart and choose the "Bar Chart" option.

- Select the collection from your database that you want to visualize.

- Choose the `Group By` option and select the field that you want to group the data by.

- Choose the `Count` option to count the number of documents in each group.

- Customize the chart's appearance and labels as desired.

- Save the chart and share it with others.

Here is an example Python code using the PyMongo library to query data from a MongoDB database and generate a simple bar chart using the matplotlib library:

In [ ]:
import pymongo
import matplotlib.pyplot as plt

# Connect to the MongoDB database
client = pymongo.MongoClient("mongodb://localhost:27017/")
db = client["mydatabase"]
collection = db["mycollection"]

# Query the data
data = collection.aggregate([
  { "$group": { "_id": "$field", "count": { "$sum": 1 } } },
  { "$sort": { "count": -1 } },
  { "$limit": 10 }
])

In [ ]:
# Extract the data into separate lists
labels = []
values = []
for d in data:
  labels.append(d["_id"])
  values.append(d["count"])

# Create the bar chart
plt.bar(labels, values)
plt.title("My Bar Chart")
plt.xlabel("Field Values")
plt.ylabel("Count")
plt.show()

This code connects to a MongoDB database, queries the data in a collection, and groups the data by a specific field. It then extracts the grouped data into separate lists and uses matplotlib to generate a simple bar chart based on the data.

## MongoDB and scalability:

<br/>
<img src="images/scaling.avif">
<br/>

MongoDB is designed to be scalable, allowing organizations to easily handle increasing amounts of data and increasing numbers of users. MongoDB supports horizontal scalability through sharding, which allows data to be split across multiple servers. This makes it possible to handle large amounts of data and high levels of traffic, ensuring that the database remains fast and responsive.

There are several strategies for achieving scalability in MongoDB, including:

- **Sharding:** This involves distributing data across multiple servers or clusters, based on a shard key. Each shard contains a subset of the data and can be scaled independently.

- **Replication:** This involves creating multiple copies of your data across multiple servers, which improves availability and provides fault tolerance.

- **Load balancing:** This involves distributing requests across multiple servers to ensure that each server is utilized evenly.
<br/>
<br/>

### Example
<br/>

Let's say we have a MongoDB database containing **customer** data for an online retailer. As the retailer grows, the amount of customer data increases, which could result in slower queries and decreased performance. In order to maintain high performance, we could add more servers to our MongoDB cluster to handle the increased load.
<br/>



Here is an example of how to set up a sharded MongoDB cluster for scalability:

- Start by setting up a configuration server, which keeps track of the cluster's metadata and configuration.

<p style="text-align:center;"> <b>mongod --configsvr --dbpath /data/configdb --port 27019 </b></p>
<br/>

-     Next, start each shard server.

<p style="text-align:center;"> <b> mongod --shardsvr --replSet shard1 --dbpath /data/shard1 --port 27018</b></p>

<p style="text-align:center;"> <b>mongod --shardsvr --replSet shard2 --dbpath /data/shard2 --port 27019</b></p>

<br/>


-     Initialize the replica set for each shard.

<p style="text-align:center;"> <b>mongo --port 27018    </b></p>
<p style="text-align:center;"> <b>rs.initiate()</b></p>

<br/>


-     Add each shard to the cluster.

<p style="text-align:center;"> <b>mongo --port 27017   </b></p>
<p style="text-align:center;"> <b>sh.addShard("shard1/localhost:27018")</b></p>
<p style="text-align:center;"> <b>sh.addShard("shard1/localhost:27019")</b></p>

<br/>

- Create a sharded collection by defining a shard key and enabling sharding for the database.

<p style="text-align:center;"> <b>mongo --port 27017   </b></p>
<p style="text-align:center;"> <b>use mydb</b></p>
<p style="text-align:center;"> <b>sh.enableSharding("mydb")</b></p>

<p style="text-align:center;"> <b>db.createCollection("mycollection", {sharded: true, key: {"name": 1}})</b></p>


> **Note**: Once this is set up, the **MongoDB** cluster will automatically distribute data across the different shards and handle queries in parallel, providing horizontal scalability and improved performance.

## MongoDB and backup and recovery:

<br/>
<img src="images/backup.jpg" height=400px width=400px>
<br/>


**Backups** are essential for ensuring that data is protected against loss in the event of a disaster or system failure. MongoDB provides several options for backing up data, including on-demand backups, scheduled backups, and continuous backups. Additionally, MongoDB provides various **recovery** options, such as point-in-time recovery and rollback, to ensure that data can be restored in the event of a disaster. This provides peace of mind and helps organizations ensure that their data is safe and secure.


**MongoDB** provides several mechanisms to backup and recover data in case of hardware failures or accidental data loss. Some of the ways to perform backup and recovery in MongoDB are:

- **mongodump and mongorestore:** These are command-line utilities provided by MongoDB that are used to backup and restore MongoDB databases. `mongodump` creates a binary export of the data in a MongoDB database, while `mongorestore` imports that binary export back into a MongoDB database. Here is an example of using `mongodump` to backup a database named `mydb`: 

<p style="text-align:center;"><b>mongodump --db mydb</b></p>

<br/>

And here is an example of using `mongorestore` to restore that `backup`:
<br/>
<p style="text-align:center;"><b>mongorestore --db mydb dump/mydb</b></p>


- **Snapshots:** You can also use hardware snapshots to backup your MongoDB data. This method involves taking a point-in-time snapshot of the data and copying it to a different location. This is often done using tools provided by your cloud provider or storage vendor.
<br/>

- **Replication:** MongoDB supports replication, which involves maintaining multiple copies of data across multiple servers. In case of hardware failure or data loss, one of the replicas can be promoted to primary and take over the responsibilities of the failed primary.
<br/>

- **Sharding:** MongoDB also supports sharding, which involves distributing data across multiple servers. In case of hardware failure or data loss, the remaining servers can continue to provide access to the data that was not lost.
<br/>


Here is an example of using `mongodump` and `mongorestore` to backup and restore a database:

**Backup the `mydb` database to a directory called `mydb-backup`**

<br/>
<p style="text-align:center;"><b>mongodump --db mydb --out mydb backup</b></p>


<br/>

**Restore the "mydb" database from the backup directory**

<br/>

<br/>
<p style="text-align:center;"><b>
mongorestore --db mydb mydb-backup/mydb</b></p>

## MongoDB interview questions:

- What is MongoDB and how is it different from a relational database?
- What is a document-oriented database and how does MongoDB store data?
- How do you install and start MongoDB?
- What are the different data types supported by MongoDB?
- What is a collection in MongoDB?
- What is sharding and how does it work in MongoDB?
- What are indexes in MongoDB and why are they important?
- What is the aggregation framework in MongoDB?
- How do you create and drop a database in MongoDB?
- What is a replica set and how does it work in MongoDB?
- How do you perform backup and recovery in MongoDB?
- What is the role of the BSON format in MongoDB?
- How do you optimize query performance in MongoDB?
- How does MongoDB handle transactions?
- How do you use MongoDB with Python?

## Industrial applications of MongoDB

**MongoDB** has become a popular choice for a wide range of applications across various industries. Here are some examples of industrial applications of MongoDB:

- **E-commerce platforms:** MongoDB can be used for building e-commerce platforms for online retail and wholesale stores.
<br/>
- **Social media platforms:** MongoDB is used for storing and processing social media data such as user profiles, posts, comments, and likes.
<br/>

- **Content management systems:** MongoDB is used for building content management systems (CMS) that can handle large amounts of unstructured data.
<br/>

- **Financial services:** MongoDB is used for building financial applications such as trading platforms, portfolio management systems, and fraud detection systems.
<br/>

- **Healthcare:** MongoDB is used for building healthcare applications such as electronic health record (EHR) systems, patient monitoring systems, and clinical research data management systems.
<br/>

- **Internet of Things (IoT):** MongoDB is used for building IoT applications such as smart home systems, connected car platforms, and industrial monitoring systems.
<br/>

- **Gaming:** MongoDB is used for building gaming applications such as online multiplayer games and mobile games.
<br/>

- **Advertising:** MongoDB is used for building advertising platforms that can handle large amounts of data and provide real-time analytics.
<br/>

- **Government:** MongoDB is used for building government applications such as citizen services, public safety systems, and open data portals.
<br/>

- **Education:** MongoDB is used for building education applications such as learning management systems, student information systems, and research data management systems.
<br/>

- **Energy and utilities:** MongoDB is used for building energy and utilities applications such as smart grid systems, predictive maintenance systems, and asset management systems.
<br/>

- **Logistics and transportation:** MongoDB is used for building logistics and transportation applications such as real-time tracking systems, fleet management systems, and supply chain management systems.
<br/>

- **Media and entertainment:** MongoDB is used for building media and entertainment applications such as content distribution platforms, digital asset management systems, and video streaming services.
<br/>

- **Travel and hospitality:** MongoDB is used for building travel and hospitality applications such as booking engines, travel recommendation systems, and hotel management systems.
<br/>

- **Retail:** MongoDB is used for building retail applications such as inventory management systems, customer relationship management systems, and point of sale systems.
<br/>